body
{
  /*background-color: #00ff00;*/
}
table, th, td
{
  border: 1px solid black;
}
td
{
  width: 20px;
  height: 20px;
}
button
{
  display: block;
  width: 20px;
  height: 20px;
}
#restart
{
  width: fit-content;
}
.flagged
{
  background-color: red;
}
.mines
{
  background-color: red;
}
.won
{
  background-color: #00ff00;
}
